@font-face {
    font-family: Inter;
    src: url('./font/Inter/Inter_18pt-Light.ttf');
}
html, body{
    margin: 0px;
    font-family: Inter !important;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg{
    /* background-color: #d87f31; */
}
.container{
    display: block;
    width: fit-content;
}
.content{
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
.giftbox{
    display: block;
    max-width: 150px;
    height: auto;
    margin: 0 auto;
}
h1{
    font-size: 3rem;
    letter-spacing: 3px;

}
p{
    letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: 300;
}
.down-arrow{
    width: 40px;
}
@media screen and (max-width: 768px) {
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 0.9rem;
    }
    .giftbox{
        max-width: 100px;
    }
}
